<!DOCTYPE html>
<html>
    <title>{% block title '' %}</title>
    <head>
        {% block meta '' %}
        {% block stylesheets '' %}
    </head>
    <body{% block body_attributes '' %}>
        {% block body '' %}
        {% block javascripts '' %}
    </body>
</html>
